@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@400;700&display=swap");

* {
  font-family: "Gentium Plus", serif;
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.outerContainer {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(35deg, #f9f9f9 50%, #cdf0ea 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1100px;
  min-height: 600px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
}
.cont1 {
  border-radius: 10px;
  width: 520px;
  height: 600px;
  background-image: url("https://www.infoplease.com/sites/infoplease.com/files/styles/large/public/2022-02/quiz-time.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cont2 {
  width: 520px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loginid,
.signup {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login h1,
.signup h1 {
  padding: 10px 0;
  font-size: 30px;
  width: 350px;
  color: #ffa1a1;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 350px;
  height: 30px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ffa1a1;
  font-size: 13px;
}
a {
  text-decoration: none;
  color: black;
}
.enquire {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  width: 350px;
  height: 35px;
  cursor: pointer;
}
.btn1,
.btn2,
.btn3 {
  margin: 15px 0 0 0;
  background-color: #ffa1a1;
  border: 2px solid #ffa1a1;
  font-size: 15px;
  font-weight: 700;
}
.or {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.or h1 {
  font-size: 20px;
  padding: 0;
  color: black;
}
.media {
  margin-top: 15px;
  width: 350px;
  height: 35px;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  font-weight: 700;
}
.media1 {
  background-color: #4267b2;
}
.media2 {
  background-color: #db4437;
}
.media3 {
  background-color: black;
}
.btn2 {
  margin: 0;
}
.ask {
  margin-top: 10px;
  width: 350px;
  font-weight: 600;
}
.ask:hover {
  cursor: pointer;
}
.btn3 {
  margin-top: 0;
}
@media only screen and (max-width: 900px) {
  .content {
    flex-direction: column;
  }
  .container {
    margin-top: 20px;
    width: 350px;
  }
  .cont1 {
    height: 300px;
  }
}
